<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  <!--Card 1-->
  <div class="rounded overflow-hidden shadow-lg content-center">
    <!-- <img class="w-full" src="/mountain.jpg" alt="Mountain"> -->
    <div class="px-6 py-4">
      <div class="mb-4 text-3xl font-black">View Existing Inventories</div>
      <p class="text-gray-700 text-base">
        Receive items (or retun them) Select the supplier, then see all the existing products and their variants for that supplier. You can add/update the quantity amount for each variant of the product
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <%= link_to '<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-1/3 lg:w-full py-2">View</button>'.html_safe, sales_path %>
    </div>
  </div>
</div>
