<div class="p-12 mx-auto text-gray-800 max-w-7xl">
  <h2>Manage Inventory</h2>
</div>
<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  <!--Card 1-->
  <div class="rounded overflow-hidden shadow-lg content-center">
    <!-- <img class="w-full" src="/mountain.jpg" alt="Mountain"> -->
    <div class="px-6 py-4">
      <div class="mb-4 text-3xl font-black">Receive New Stock</div>
      <p class="text-gray-700 text-base">
        Add New Stock for a Variant or Product
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <%= link_to '<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-1/3 lg:w-full py-2">Continue</button>'.html_safe, inventory_suppliers_path %>
    </div>
  </div>
  <!--Card 2-->
  <div class="rounded overflow-hidden shadow-lg">
    <!-- <img class="w-full" src="/river.jpg" alt="River"> -->
    <div class="px-6 py-4">
      <div class="mb-4 text-3xl font-black">Process Returns</div>
      <p class="text-gray-700 text-base">
        Add or Edit Products and Variants
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <%= link_to '<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-1/3 lg:w-full py-2">Continue</button>'.html_safe, catalogue_suppliers_path %>
    </div>
  </div>
  <!--Card 3-->
  <div class="rounded overflow-hidden shadow-lg">
    <!-- <img class="w-full" src="/river.jpg" alt="River"> -->
    <div class="px-6 py-4">
      <div class="mb-4 text-3xl font-black">Something Else??</div>
      <p class="text-gray-700 text-base">
        ?????????
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <%= link_to '<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-1/3 lg:w-full py-2">Continue</button>'.html_safe, suppliers_path %>
    </div>
  </div>
</div>
