<div class="p-12 mx-auto text-gray-800 max-w-7xl">
  <h2>New Sale - Step 4 of 4</h2>
  <h5>Order was successfuly created with reference: <%= @order.reference_display %></h5>
  <br />
  <%= link_to "Print Receipt", new_order_receipt_path(@order, customer_name: false), target: "_blank", class: "btn btn-primary" %>
  <% if @order.customer.present? %>
    <%= link_to "Print with Customer Name", new_order_receipt_path(@order, customer_name: true), target: "_blank", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Done", sales_path, class: "btn btn-secondary" %>
</div>
