<div class="p-12 mx-auto text-gray-800 max-w-7xl">
  <h2><%= @report.report_title.titleize %></h2>
  <!-- show a partial for each report and insert it in here -->
  <%= render @view_model.partial, view_model: @view_model %>
